<h2 class="display-2">Productos para el escritorio</h2>
<div class="card-columns">
<% @products.each do |product| %>
	<%  if product.category == 'desktop' %>
		<%= render "card", product: product %>
	<% end %>
<% end %>
</div>
