<h2 class="display-2">Otros</h2>
<div class="card-columns">
<% @products.each do |product| %>
	<%  if product.category == 'otros' %>
		<%= render "card", product: product %>
	<% end %>
<% end %>
</div>
