<h2 class="display-2">Termos</h2>
<div class="card-columns">
<% @products.each do |product| %>
	<%  if product.category == 'termos' %>
		<%= render "card", product: product %>
	<% end %>
<% end %>
</div>
